<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is a story about a man. Outside he may have the look of riches. But
      if you look beneath his clothes, you find a man. And if you look inside
      the man. You find his... Uh... Nucleus
    </p>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
  </body>
</html>
